.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header {
  background-color: #009CDF;
  color: white;
}

.container > * {
  width: fit-content;
}

.title {
  font-weight: bold;
  font-size: 18pt;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: white;
}


@media (max-width: 880px) {
  .title {
    font-weight: bold;
    font-size: 12pt;
  }
  .meta {
    font-size: 8pt;
  }
}

@media (max-width: 400px) {
  .slogan {
    display: none
  }
}