.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background-color: #009CDF;
  color: white;

}

.container > * {
  width: fit-content;
}

.title {
  font-weight: bold;
  font-size: 18pt;
}


@media (max-width: 880px) {
  .title {
    font-weight: bold;
    font-size: 12pt;
  }
  .meta {
    font-size: 8pt;
  }
}