.container {
    display: flex;
    height: 70px;
}

.container > div {
    flex: 18;
}

@keyframes slidein {
    0% {
        flex: 0;
    }
    100% {
        flex: 1;
    }
}

.autocompleteAdd {
  display: flex;
  align-items: center;
  justify-content: center;
}

.autocompleteAdd > span {
  font-size: 2em;
  color: #858585;
}

.autocomplete {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 100%;
}

.autocomplete > div > div > input {
  font-size: 1.3em;
  padding: 1em 0.7em;
  height: 100%
}

.addButton {
  margin-left: 1em;
  flex: 1;
  animation: slidein 0.3s ease-in-out;
  height: 100%;
}