.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    border: 2px solid rgb(255, 209, 209);
    border-radius: 5px;
}

.list > * {
    margin: 0.5em 0;
}