.container {
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.25);
  width: 1200px;
  background-color: white;
  padding: 3em;
  margin: 0 auto;
  height: fit-content
}

.centered {
  margin: 0.5em auto;
}

.flexSection {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 1em auto;
}

.flexSection > div {
  flex: 1;
}

.article {
  margin-bottom: 1em;
}

@media (max-width: 880px) {
  .container {
    width: 90vw;
  }

  .centered {
    text-align: center;
  }

  .flexSection {
    flex-direction: column;
  }
}