.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
}

.list > * {
    margin: 0.5em 0;
}

.listContainer {
  width: 500px;
}

@media (max-width: 880px) {
	.listContainer {
    width: 300px;
  }
  .list {
    margin-top: 2em;
  }
}